<style>
  body {
    font-family: monospace;
    margin: auto;
    padding: 20px;
    max-width: 850px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
  }

  header {
    padding-bottom: 15px;
	display: inline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #111;
	margin: 5px 0 !important;
  }

  a {
	color: #3273dc;
	text-decoration: none;
  }
  a:hover {
    color: #3273dc;
	text-decoration: underline;
	font-weight: 600;
    /*color: #ff5e6c;*/
  }

  .title {
    text-decoration: none;
    border: 0;
	white-space: nowrap;
  }
  
  .title:hover {
	  text-decoration: none;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
	color: #3273dc;
  }

  textarea {
    width: 100%;
    font-size: 14px;
  }

  input {
    font-size: 13px;
  }

  content {
    line-height: 1.5;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
	height: 50px;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }
  
  /* changelog table */
table.changelog {
  width: 100%;
  border-collapse: collapse;
}

table.changelog tr {
  border-bottom: 0;
}

table.changelog td {
  padding: 0.5rem 0;
  vertical-align: center;
  text-align: left;
}

table.changelog td.timestamp {
  width: auto;
  white-space: nowrap;  
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  color: #666 !important;
  
}

table.changelog td.post-title a {
  width: auto;
  text-decoration: none;
  font-family: monospace;
  font-size: 14px;
  color: #222;
  font-weight: 550;
  text-transform: uppercase;
}

table.changelog td.post-title a:hover {
  font-weight: 600;
  color: #111;
  text-decoration: underline;
  
}

@media (prefers-color-scheme: dark) {
  table.changelog tr {
    border-bottom: 1px solid #555;
  }
  
  table.changelog td.timestamp {
    color: #aaa;
  }
}

  .microblog_conversation {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px dashed #444;
  }

  .microblog_post {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .microblog_avatar {
    border-radius: 10px;
    vertical-align: top;
  }

  .microblog_time {
    font-size: 13px;
    padding-top: 10px;
  }

  .microblog_time a {
    color:#444;
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #eee;
    }

    a {
      color: #8cc2dd;
    }

    code {
      background-color: #777;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }

    .microblog_conversation {
      border-top: 1px dashed #ddd;
    }

    .microblog_time a {
      color:#ddd;
    }
  }

</style>
