{{ define "main" }}
<div class="container">
  <div class="page-header">
    <h1 class="page-title">projects</h1>
    <p class="page-description">ongoing work and collections</p>
  </div>
  
  <div class="project-browser">
    <div class="catalog">
      <div class="catalog-table">
        {{ $projects := where .Site.RegularPages "Params.type" "project" }}
        {{ range $projects }}
        <div class="catalog-row">
          <div class="catalog-timestamp">
            {{ .Date.Format "Mon Jan 02 2006" }}
          </div>
          
          <div class="catalog-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
          
          <div class="catalog-tag">
            {{ with .Params.status }}
              <span>{{ . }}</span>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
